/**********************************************************
Grid settings
***********************************************************/

$grid-cols: 12;
$grid-gutter-small: $space-m;
$grid-gutter-large: $space-xl;
$global-width: 940px;
